body {
    background-color: ghostwhite;
    color: #505050;
}

.center {
    text-align: center;
}

.btn {
    background-color: rgb(153, 255, 153);
    border-radius: 5px;
    border: 2px solid green;
    color: green;
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(255, 153, 153);
    border-radius: 5px;
    border: 2px solid rgb(128, 0, 0);
    color: rgb(128, 0, 0);
}

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: orange;
}

a img {
    transition: 0.25s;
}

a img:hover {
    filter: grayscale(100%);
    transform: scale(1.05, 1.05);
}

.box {
    display: inline-block;
}

#nyan:hover {
    cursor: grabbing;
}
/* body h1 {
    color: #505050;
} */

.decorated-box {
    background-color: #505050;
    color: ghostwhite;
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
}

.decorated-table * {
    border: 2px solid black;
}